.navbar {
    display: grid;
    grid-template-columns: repeat(3, 7%);
    background-color: #000000;
    height: 60px;
    align-items: center;
    grid-column-gap: 20px
    /* color: #754668; */
}


.navbar a {
    color: #fff;
    text-decoration: none;

}

.navbar a:hover {
    background-color: #413c3c
}